<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Chatbox Mejorado</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <div class="chat-container">
        <h1 class="title">CHATBOX</h1>

        <div id="chat">
            <input type="text" id="username" placeholder="Ingrese su nombre de Usuario" autocomplete="off" />
            
            <div id="messages"></div>
            
            <div id="writing"></div>
            
            <textarea id="write-message" placeholder="Ingrese su mensaje" autocomplete="off"></textarea>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        const username = document.getElementById("username");
        const writeMessage = document.getElementById("write-message");
        const writing = document.getElementById("writing");
        const messages = document.getElementById("messages");

        socket.on("all-messages", (m) => {
            let content = "";
            for (const message of m) {
                content += `
                <div class="message"><span class="user">${message.username}:</span> ${message.message}</div>
                `;
            }
            messages.innerHTML = content;
            messages.scrollTop = messages.scrollHeight;
        });

        writeMessage.addEventListener("keydown", (event) => {
            socket.emit("writing", username.value);
        });

        socket.on("writing", (username) => {
            writing.textContent = username + " está escribiendo...";
            setTimeout(() => {
                writing.textContent = "";
            }, 3000);
        });

        writeMessage.addEventListener("keyup", (event) => {
            if (event.code === "Enter" && !event.shiftKey) {
                event.preventDefault();
                if (username.value.trim() === "" || writeMessage.value.trim() === "") {
                    return alert("El nombre del usuario y el mensaje son requeridos");
                }
                socket.emit("new-message", {
                    username: username.value,
                    message: writeMessage.value.trim(),
                });
                writeMessage.value = "";
            }
        });
    </script>
</body>

</html>
