<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title> 
</head>
<body>
    <h1>Mi primera pagina</h1>
    
    <% // Todo el contenido dinámico debe estar dentro del body %>
    <% if(showMessage){ %>
        <p><%= message %></p> 
    <%} else {%>
        <p>Este es un mensaje por defecto</p>
    <%}%>
    
    <ul>
        <% for(let i=0;i<items.length;i++){ %>
            <li><%= items[i] %></li>
        <% } %>
    </ul>
</body>
</html>